<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
<!-- 	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
<!-- 			<FileNamePattern>${application.data.folder}/prixlenceLogs/prixlence.%d{yyyy-MM-dd}.log</FileNamePattern> -->
<!-- 			<MaxHistory>30</MaxHistory>  -->
<!-- 		</rollingPolicy> -->
<!-- 		<layout class="ch.qos.logback.classic.PatternLayout"> -->
<!-- 			<pattern>[%d{HH:mm:ss.SSS}] [%logger{30}] [%level] %msg%n</pattern> -->
<!-- 		</layout> -->
<!-- 	</appender> -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%d{HH:mm:ss.SSS}] [%logger{30}] [%level] %msg%n</pattern>
		</layout>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.springframework">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web.filter">
		<level value="debug" />
	</logger>
	<logger name="com.fasterxml.jackson">
		<level value="debug" />
	</logger>
	<logger name="org.springframework.web.servlet.mvc">
		<level value="debug" />
	</logger>
</configuration>
